@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
.section-banner
{
    background: url('../images/bookmark/wave.gif') no-repeat;
    background-size: 100% 100%;
    
}
.section-banner .main-tille
{
    display: block;
    font-size: 3rem;
    margin-bottom: 3rem;

}
.section-banner .container
{
   /* height: 45rem; */
   padding: 3rem 0 0 3rem;
   /* border: 1px solid wheat; */
}
.slide-books
{
    /* border: 1px solid wheat; */
    position: relative;
    text-align: center;
}
.slide-books .list-books
{
    /* width: 80%; */
    margin: auto;
}
.slide-books .list-books .book-item
{
    width: 100%;
    margin-bottom: 5rem;
} 
.slide-books .list-books .book-item .img-box
{
    height: 50rem;
} 
.slide-books .list-books .book-item .img-box img
{
    height: 100%;
    object-fit: cover;
} 
.btn-move
{
    position: absolute;
    width: 100%;
    top: 50%;
    justify-content: space-between;
}
.btn-move i
{
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;

}

/* infor-books */
.infor-books 
{
    padding:0 3rem;
}
.infor-books .menu-info
{
    justify-content: center;
}
.infor-books .menu-info li
{
    margin: 1rem 2rem;
    cursor: pointer;
}
.infor-books .menu-info li:first-child
{
   color:#E50914;
}
.infor-books .menu-info li:hover
{
   color:#E50914 ;
}

/* board */
.board-infor
{
    margin-top: 4rem;
}
.board-infor .desc
{

}
.board-infor .desc .book-name
{
    font-size: 5rem;
    font-family: 'Rubik Distressed', cursive;
    text-transform: uppercase;
}
.board-infor .desc .aside-infor
{
    display: flex;
    margin: 1rem 0;
}
.board-infor .desc .aside-infor .year
{
    margin-right: 1rem;
}
.board-infor .desc .aside-infor .year i
{
   margin-right: .5rem;
}
.board-infor .desc .aside-infor .age-allow
{
   border: 1px solid  #c8b197;
   margin-right: 1rem;
}
.summary
{
    margin: 1rem 0;
}
.btn-action
{
    margin-bottom: 3rem;
}
.btn-action button
{
    box-sizing: border-box;
    padding: .5rem 1rem;
    /* border: none; */
    border: 1px solid  #BBB;
    background-color: transparent;
    margin-right: 1.3rem;
    cursor: pointer;
}
.btn-action button:hover
{
    border: none!important;
    background-color: #E50914!important;
    transform: scale(1.1);
}
.btn-action button i
{
    margin-right: .5rem;
    font-weight: bolder;
    font-size: 1.3rem;
}
.btn-read
{

    border: none!important;
    background-color: #E50914!important;
}
.btn-like i
{
    margin: 0!important;
}
.btn-like
{
    padding: .5rem .6rem!important;;
    border-radius: 50%;

}
.about_author
{
    
}
.about_author .read-more
{
    margin: 1rem 0;
    color: #c8b197;
}

.author-ava
{
    /* height: 45rem; */
}
.author-ava img
{
    object-fit: contain;
    height: 100%;
}

/* sectin-02 */
.section-main
{
    background: url('../images/bookmark/4NB4.gif') repeat;    
    
}
.section-main .container
{
    
    width: 90%;
    margin: auto;
}
.big-main-title
{
    text-align: center;
    display: block;
    font-size: 3rem;
    padding: 5rem;
}
/* #region search-box */
/* search-box */
.search-box
{
    align-items: center;
    padding: 1rem 2rem;
    border: 0px solid #fff;
    border-radius: 2rem;
    background: linear-gradient(#000 15%,#0b101a);
    justify-content: space-between;
    position: relative;
    height: 8rem;
    width: 60%;
    margin: auto;
    z-index: 3;
}
.search-box .typing
{
    color: #808080;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    width: 30%;

}
.search-box .typing input
{
    color: #808080;
    background-color: transparent;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    margin-left: 1rem;
}
.search-box .typing input:focus
{
   outline: none;
}
.search-box .category, .century
{
    position: absolute;
    border: 1px solid;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: .5rem 1rem;
    top: 1rem;
    width: 20%;
}
.btn-select 
{
    align-items: center;
    justify-content: space-between;
}
.btn-select .btn-down:hover
{
    color: #c8b197;
    cursor: pointer;
}
.btn-select .main-title
{
    color: #c8b197;
    font-weight: bolder;
    font-size: 1.2rem;
}
.search-box .category
{
    right: 40%;
 
}
.search-box .century
{
    right: 10%;
}
.search-box .select-option
{
    margin-right: 5rem;
    min-height: 61%;
    background: linear-gradient(#000 15%,#0b101a);

}
.search-box .select-option .list-options
{
    display: none;
    /* visibility: hidden; */
}
.show2 .btn-down
{
    transform: rotate(180deg);
}
.show2 .list-options
{
    display: block!important;
}

.select-option .list-options .option
{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.select-option .list-options .option:hover
{
    color: #c8b197;
    cursor: pointer;
}
.search-box .select-option span
{
    display: block;
    margin-bottom: .5rem;
}
.search-box .select-option span:last-child
{

}
.search-box .btn-go
{
    background-color: #fff;
    border: 1px solid;
    border-radius: 3rem;
    padding: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.search-box .btn-go:hover
{


  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.search-box .btn-go:hover span
{
    
}


.search-box .btn-go span
{
    color: #000;
    font-weight: bolder;
}
/* #endregion */
/* #region book */
.section-main .book-lists
{
    margin-top: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-wrap: wrap;
    /* height: 45rem; */
}

.section-main .book-item
{
    width: 15%;
    margin: 0 3rem;
    margin-bottom: 10rem;
 
    
    /* overflow: hidden; */
}
.section-main .book-item .img-box
{
    border: 0px solid;
    border-radius: 2rem;
    overflow: hidden;
    height: 25rem;
    position: relative;
}

.section-main .book-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.section-main .book-item:hover 
{
    transform: scale(1.1);

}
.section-main .book-item:hover .img-box::after
{
    content: 'Read now';
    text-align: center;
    font-size: 1.5rem;
    color: #c8b197;
    -webkit-text-stroke: 1px #fff;
    padding-top: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-color: rgba(24, 24, 24, 0.634);
}
.section-main .book-item:hover span{
    color: #c8b197;
}
.section-main .book-item >span
{
    display: block;
    margin:.5rem 0;
}
/* #endregion */



/* responsive */
@media screen and (max-width: 1300px) {
    .about_author {
        display: none;
    }
    .author-ava{
        display: none;
    }
    .search-box{
        width: 90%;
    }
    .section-main .book-lists
    {

    }
    .section-main .book-item{
        width: 30%;
        margin: 0;
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 1120px) {
       .section-banner{
        display: none;
       }
}
@media screen and (max-width: 900px) {

    .search-box {
        height: auto;
    }
    .search-box .typing {
        width: 100%;
     } 
    .search-box .select-option{
        display: none;
    }
    .section-main .book-item .img-box
    {
        height: 20rem;   
    }
}
@media screen and (max-width: 600px) {
    .section-main .book-item{
        width: 100%;
    }
    .section-main .book-item .img-box
    {
        height: 25rem;   
    }
}
