@font-face {
    font-family: 'Regular';
    src: url('../fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'logo';
    src: url('../fonts/Friday13.ttf');
}
@font-face {
    font-family: 'Main';
    src: url('../fonts/TiroDevanagariHindi-Regular.ttf');
}