<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/bookmark.css">
    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="shortcut icon" type="image/png" href="../images/icon/open-book3.png"/>
    <link rel="shortcut icon" type="image/png" href="../images/icon/open-book4.png"/>
    <title>Country books</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo-zone w-20">
                <div class="logo d-flex">
                    <img src="../images/logo3_gold.png" alt="" class="w-100" id="logo">
                    <span>Country <br> Books</span>
                </div>
            </div>
            <div class="menu-zone w-60">
                <ul class="list-items">
                    <li class="menu-item"><a href="#">home</a></li>
                    <li class="menu-item"><a href="#">challenge</a></li>
                    <li class="menu-item"><a href="#">bookmark</a></li>
                    <li class="menu-item"><a href="#">bookstore</a></li>
                    <li class="menu-item"><a href="#">community</a></li>
                </ul>
            </div>
            <div class="account-zone w-20 d-flex">
                <div class="user-avatar">
                    <img src="../images/ava.png" alt="" class="w-100">
                </div>
                <div class="user-infor fa-solid fa-chevron-down">
                    
                </div>
                <i class="bi bi-lightbulb-off-fill"></i>
            </div>
            <div class="btn-menu" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
        </nav>
    </header>

    <section class="section-banner">
        
        <div class="container d-flex">
            <div class="swiper slide-books w-30">
                <span class="main-tille">Popular Books</span>\
                <ul class="list-books d-flex swiper-wrapper">
      
                </ul>
                <div class="swiper-button-next btn-move" style="color: #E50914 ;"></div>
                <div class="swiper-button-prev btn-move" style="color: #E50914 ;"></div>
                <div class="swiper-pagination" style="color: #E50914 ;"></div>
            </div>
            <div class="infor-books w-40">
                <ul class="menu-info  d-flex">
                    <li class="info-item">Description</li>
                    <li class="info-item">Author</li>
                    <li class="info-item">Rate</li>
                </ul>
                <div class="board-infor">
                    <div class="desc">
                        <span class="book-name">The good guy</span>
                        <div class="aside-infor">
                            <span class="year"><i class="fa-solid fa-thumbs-up"></i>2019</span>
                            <span class="age-allow">16+</span>
                            <span class="length">700 pages</span>
                        </div>
                        <div class="language">
                            
                            <span><i class="fa-solid fa-earth-americas" style="margin-right:.5rem ;"></i>Language: English</span>
                        </div>
                        <p class="summary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nobis voluptatibus enim, perferendis in fuga excepturi, 
                            fugit similique illo dicta, maiores vel laborum animi quasi
                             facere consequatur sit veritatis asperiores qui.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora 
                            ullam similique in error cum animi suscipit, exercitationem eveniet? 
                            Adipisci dignissimos 
                            sed nobis, ab placeat blanditiis aut consequuntur quia ea quaerat?
                        </p>
                        <div class="btn-action">
                            <button class="btn-read"><i class="fa-solid fa-book-open-reader"></i>Read now</button>
                            <button class="btn-add"><i class="fa-solid fa-plus"></i>Add to my list books</button>
                            <button class="btn-like"><i class="fa-solid fa-thumbs-up"></i></button>
                        </div>
                        <article class="about_author">
                            <span class="main-title" style="margin:1rem 0; display: block;">Mark Twain</span>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                Nobis voluptatibus enim, perferendis in fuga excepturi, 
                                fugit similique illo dicta, maiores vel laborum animi quasi
                                facere consequatur sit veritatis asperiores qui.
                            </p>
                           <a class="read-more d-block" href="#">Read more ...</a>
                        </article>
                     
                    </div>
                    
                </div>
            </div>
            <div class="author-ava w-30">
                <img src="../images/home01/png/1.png" alt="" class="w-100">
            </div>

        </div>
    </section>

    <section class="section-main">
        <div class="container">
            <span class="big-main-title">Library</span>
            <div class="search-box d-flex">
                <div class="typing fa-solid fa-magnifying-glass">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <input type="search" name="" id="" placeholder="Search">
                </div>
                <div class="category select-option">
                        <span class="title desc">Category</span>
                        <div class="btn-select  d-flex">
                            <span class="main-title">All</span>
                            <span class="btn-down fa-solid fa-chevron-down"></span>
                        </div>
                        
                        <ul class="list-options">
                            <li class="option">Mark Twain</li>
                            <li class="option">Fyodor Tyutchev</li>
                            <li class="option">Alexander Puskin</li>
                            <li class="option">Mikhail Lermontov</li>
                            <li class="option">Karolina Pavlova</li>
                            <li class="option">Khomyakov Avtoportre</li>
                        </ul>
                </div>
                <div class="century select-option">
                        <span class="title desc">Century</span>
                        <div class="btn-select  d-flex">
                            <span class="main-title">All</span>
                            <span class="btn-down fa-solid fa-chevron-down"></span>
                        </div>
                        
                        <ul class="list-options">
                            <li class="option">19th</li>
                            <li class="option">20th</li>
                            <li class="option">21th</li>
                        </ul>
                </div>
                <div class="btn-go">
                    <span>GO</span>
                </div>
            </div>
            <div class="book-lists d-flex">
                      
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="footer-top">
                <ul class="list-items">
                    <span class="main-title">Contact us</span>
                    <li class="item"><i class="fa-solid fa-location-dot"></i>&ensp;<a href="#">University of Transport and Communication</a></li>
                    <li class="item"><i class="fa-solid fa-phone"></i>&ensp;<a href="#">(088)88888888</a></li>
                    <li class="item"><i class="fa-solid fa-envelope"></i>&ensp;<a href="#">cnttva@utc.edu.vn</a></li>
                    <li class="item"><i class="fa-solid fa-globe"></i>&ensp;<a href="#">www.ined.utc.edu.vn</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Popular writers</span>
                    <li class="item"><a href="#">Mark Twain</a></li>
                    <li class="item"><a href="#">Fyodor Tyutchev</a></li>
                    <li class="item"><a href="#">Fyodor Dostoevsky</a></li>
                    <li class="item"><a href="#">Stephen king</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Popular books</span>
                    <li class="item"><a href="#">Huckleberry Finn</a></li>
                    <li class="item"><a href="#">Revival</a></li>
                    <li class="item"><a href="#">The idiot</a></li>
                    <li class="item"><a href="#">Wolf for a spell</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Newsletter</span>
                    <li class="item email">
                        <input type="email" name="" id="email-btn" placeholder="Enter your email">
                        <label for="email-btn" class="btn-forward"><i class="fa-solid fa-caret-right"></i></label>
                    </li>
                    <li class="item social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <span>© Copyright by WHY</span>
            </div>
        </div>
    </footer>

    <!-- jquery -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js" integrity="sha512-AODL7idgffQeNsYdTzut09nz9AINcjhj4jHD72HcLirsidbC8tz+dof7gceOCQD8WskeuRFfJ9CsgZTHlMiOYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../js/layout.js" type="module"></script>
    <script src="../js/bookmark.js" type="module"></script>

    
    
</body>
</html>