<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\layout.css">
  <link rel="stylesheet" href="..\css\quizstyle.css">
  <title>Country book</title>
</head>
<body>
  <div class="quiz-container">
    <span class="bi bi-lightbulb-off-fill"></span>
    <h2 id="quiz">...</h2>
    <hr>
    <li><a id="a" href="#" onclick>...</a></li>
    <li><a id="b" href="#">...</a></li>
    <li><a id="c" href="#">...</a></li>
    <li><a id="d" href="#">...</a></li>
    <li><a href="../view/home02.html"><<</a></li>
  </div>
  <script src="..\Js\quizauthor.js"></script>
</body>
</html>

