<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/home01.css">
    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Country books</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="image/png" href="../images/icon/open-book4.png"/>
</head>
<body>
    <div class="back">
        <header>
            <nav class="nav-bar">
                <div class="logo-zone w-20">
                    <div class="logo d-flex">
                        <img src="../images/logo3_gold.png" alt="" class="w-100" id="logo">
                        <span>Country <br> Books</span>
                    </div>
                </div>
                <div class="menu-zone w-60">
                    <ul class="list-items">
                        <li class="menu-item"><a href="#">home</a></li>
                        <li class="menu-item"><a href="#">challenge</a></li>
                        <li class="menu-item"><a href="#">bookmark</a></li>
                        <li class="menu-item"><a href="#">bookstore</a></li>
                        <li class="menu-item"><a href="#">community</a></li>
                    </ul>
                </div>
                <div class="account-zone w-20 d-flex">
                    <div class="user-avatar">
                        <img src="../images/ava.png" alt="" class="w-100">
                    </div>
                    <div class="user-infor fa-solid fa-chevron-down">
    
                    </div>
                    <i class="bi bi-lightbulb-off-fill bi-light"></i>
                </div>
                <div class="btn-menu" tabindex="0">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </div>
            </nav>
        </header>
        <section class="section-01">
            <div class="container">  
                <div class="left">
                    <ul class="authors">
                        <li class="author-item ">
                            <img class="active-img" src="../images/home01/jpg/MarkTwain.jpg" alt="ava" >
                            <span class="active-span">Mark <br> Twain</span>
                        </li>
                        <li class="author-item">
                            <img src="../images/home01/jpg/FyodorTyutchev.jpg" alt="ava" >
                            <span>Fyodor  <br> Tyutchev</span>
                        </li>
                        <li class="author-item">
                            <img src="../images/home01/jpg/AleksandrPushkin.jpg" alt="ava" >
                            <span>Aleksandr <br> Pushkin</span>
                        </li>
                        <li class="author-item">
                            <img src="../images/home01/jpg/MikhailLermontov.jpg" alt="ava" >
                            <span>Mikhail <br> Lermon</span>
                        </li>
                        <li class="author-item">
                            <img src="../images/home01/jpg/KarolinaPavlova.jpg" alt="ava" >
                            <span>Karolina <br> Pavlova</span>
                        </li>
                        <li class="author-item">
                            <img src="../images/home01/jpg/KhomyakovAAvtoportret.jpg" alt="ava" >
                            <span>Khomy <br> Avtopor</span>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="title-author">
                        <h1>MARK <br> TWAIN</h1>
                        <div class="intro">
                            <div class="born">
                                <span>BORN</span>
                                <h2>30 NOV 1835</h2>
                                <span>Florida, Missouri, U.S.</span>
                            </div>
                            <div class="border"></div>
                            <div class="died">
                                <span>DIED</span>
                                <h2>21 APR 1910</h2>
                                <span>Redding, Cennceticut, U.S.</span>
                            </div>
                        </div>
                    </div>
                    <div class="end-right">
                        <div class="reader">
                            <div class="title-reader">
                                <span>Read the biography</span>
                            </div>
                            <div class="img">
                                 <div class="title-img">
                                    <img src="../images/home01/reader/1/1.jpg" alt="">
                                    <span>Adam Kalleg</span>
                                 </div>
                                 <div class="title-img">
                                    
                                    <img src="../images/home01/reader/1/2.jpg" alt="">
                                    <span>Alex Kaskel</span>

                                 </div>
                                 <div class="title-img">
                                    <img src="../images/home01/reader/1/3.jpg" alt="">
                                    <span>Aaron Keller</span>
                                 </div>
                                 <div class="title-img">
                                    
                                    <img src="../images/home01/reader/1/4.jpg" alt="">
                                    <span>Ben Leisinger</span>

                                 </div>
                            </div>
                        </div>
                        <div class="books">
                            <div class="arrow">
                                <i class="bi bi-arrow-left"></i>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                            <ul class="book">
                                <li class="book-item" data-book="1_1">
                                    <img src="../images/home01/book_img/1/1.jpg" alt="">
                                    <span class="book-name">The Good Guy</span>
                                    <span class="icon-star fa-regular fa-star-half-stroke"><span class="rate desc">4.2 144k reviewers</span></span>
                                </li>
                                <li class="book-item" data-book="1_2">
                                    <img src="../images/home01/book_img/1/2.jpg" alt="">
                                    <span class="book-name">My Book Cover</span>
                                    <span class="icon-star fa-regular fa-star-half-stroke"><span class="rate desc">4.2 144k reviewers</span></span>
                                </li>
                                <li class="book-item" data-book="1_3">
                                    <img src="../images/home01/book_img/1/3.jpg" alt="">
                                    <span class="book-name">Think Outside</span>
                                    <span class="icon-star fa-regular fa-star-half-stroke"><span class="rate desc">4.2 144k reviewers</span></span>
                                </li>
                                <li class="book-item" data-book="1_4">
                                    <img src="../images/home01/book_img/1/4.jpg" alt="">
                                    <span class="book-name">Catcher in Rye</span>
                                    <span class="icon-star fa-regular fa-star-half-stroke"><span class="rate desc">4.2 144k reviewers</span></span>
                                </li>
                                <li class="book-item" data-book="1_5">
                                    <img src="../images/home01/book_img/1/5.jpg" alt="">
                                    <span class="book-name">Your Book Cover</span>
                                    <span class="icon-star fa-regular fa-star-half-stroke"><span class="rate desc">4.2 144k reviewers</span></span>
                                </li>
                                <li class="book-item" data-book="1_6">
                                    <img src="../images/home01/book_img/1/6.jpg" alt="">
                                    <span class="book-name">Booth</span>
                                    <span class="icon-star fa-regular fa-star-half-stroke"><span class="rate desc">4.2 144k reviewers</span></span>
                                </li>
                            </ul>
                        </div>
 
                    </div>
                    <div class="timeline">
                        <ul>
                            <li><span>30 NOV 1835</span></li>
                            <li><span>24 NOV 1836</span></li>
                            <li><span>30 NOV 1945</span></li>
                            <li><span>30 DEC 1967</span></li>
                            <li><span>21 FEB 1978</span></li>
                            <li><span>11 JAN 1980</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="footer-top">
                <ul class="list-items">
                    <span class="main-title">Contact us</span>
                    <li class="item"><i class="fa-solid fa-location-dot"></i>&ensp;<a href="#">University of Transport and Communication</a></li>
                    <li class="item"><i class="fa-solid fa-phone"></i>&ensp;<a href="#">(088)88888888</a></li>
                    <li class="item"><i class="fa-solid fa-envelope"></i>&ensp;<a href="#">cnttva@utc.edu.vn</a></li>
                    <li class="item"><i class="fa-solid fa-globe"></i>&ensp;<a href="#">www.ined.utc.edu.vn</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Popular writers</span>
                    <li class="item"><a href="#">Mark Twain</a></li>
                    <li class="item"><a href="#">Fyodor Tyutchev</a></li>
                    <li class="item"><a href="#">Fyodor Dostoevsky</a></li>
                    <li class="item"><a href="#">Stephen king</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Popular books</span>
                    <li class="item"><a href="#">Huckleberry Finn</a></li>
                    <li class="item"><a href="#">Revival</a></li>
                    <li class="item"><a href="#">The idiot</a></li>
                    <li class="item"><a href="#">Wolf for a spell</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Newsletter</span>
                    <li class="item email">
                        <input type="email" name="" id="email-btn" placeholder="Enter your email">
                        <label for="email-btn" class="btn-forward"><i class="fa-solid fa-caret-right"></i></label>
                    </li>
                    <li class="item social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <span>© Copyright by WHY</span>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js" integrity="sha512-AODL7idgffQeNsYdTzut09nz9AINcjhj4jHD72HcLirsidbC8tz+dof7gceOCQD8WskeuRFfJ9CsgZTHlMiOYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/layout.js" type="module"></script>
    <script src="../js/home01.js" type="module"></script>
    
</body>
</html>