<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="image/png" href="../images/icon/open-book4.png"/>
    <title>Country books</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo-zone w-20">
                <div class="logo d-flex">
                    <img src="../images/logo3_gold.png" alt="" class="w-100" id="logo">
                    <span>Country <br> Books</span>
                </div>
            </div>
            <div class="menu-zone w-60" id="nav-container">
                <ul class="list-items">
                    <li class="menu-item"><a href="#">home</a></li>
                    <li class="menu-item"><a href="#">challenge</a></li>
                    <li class="menu-item"><a href="#">bookmark</a></li>
                    <li class="menu-item"><a href="#">bookstore</a></li>
                    <li class="menu-item"><a href="#">community</a></li>
                </ul>
            </div>
            <div class="account-zone w-20 d-flex">
                <div class="user-avatar">
                    <img src="../images/ava.png" alt="" class="w-100">
                </div>
                <div class="user-infor fa-solid fa-chevron-down">

                </div>
                <i class="bi bi-lightbulb-off-fill bi-light"></i>
                
            </div>
            <div class="btn-menu" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
        </nav>
    </header>
    <section class="section-01">
        <div class="container d-flex w-90">
            <div class="left-content w-50">
                <div class="slide">
                    <div class="slide-show">
                        <div class="head-banner">
                            <span class="big-title d-block">poets of the 19th century</span>
                            <span class="desc d-block">More than 300 poems</span>
                        </div>
                        <div class="w-50 img-box">
                            <img src="../images/home/slide.png" alt="">
                        </div>
                        
                    </div>
                    <div class="slide-items">
                        <ul class="list-items d-flex">
                    
                        </ul>
                    </div>
                </div>
                <div class="search-box d-flex">
                    <div class="typing fa-solid fa-magnifying-glass">
                        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                        <input type="search" name="" id="" placeholder="Search">
                    </div>
                    <div class="category select-option">
                            <span class="title desc">Category</span>
                            <div class="btn-select  d-flex">
                                <span class="main-title">All</span>
                                <span class="btn-down fa-solid fa-chevron-down"></span>
                            </div>
                            
                            <ul class="list-options">
                                <li class="option">Mark Twain</li>
                                <li class="option">Fyodor Tyutchev</li>
                                <li class="option">Alexander Puskin</li>
                                <li class="option">Mikhail Lermontov</li>
                                <li class="option">Karolina Pavlova</li>
                                <li class="option">Khomyakov Avtoportre</li>
                            </ul>
                    </div>
                    <div class="century select-option">
                            <span class="title desc">Century</span>
                            <div class="btn-select  d-flex">
                                <span class="main-title">All</span>
                                <span class="btn-down fa-solid fa-chevron-down"></span>
                            </div>
                            
                            <ul class="list-options">
                                <li class="option">19th</li>
                                <li class="option">20th</li>
                                <li class="option">21th</li>
                            </ul>
                    </div>
                    <div class="btn-go">
                        <span>GO</span>
                    </div>
                </div>
                <div class="last-request-box">
                    <span class="desc">Last request</span>
                    <ul class="list-requests">

                    </ul>
                </div>
            </div>
            <div class="right-content w-50">
                <div class="writer-zone">
                    <div class="topic_writer">
                        <span class="main-topic d-block" id="pp-writer">Popular writers</span>
                        <div class="btn_s">
                            <i class="bi-move bi-arrow-left"></i>
                            <i class="bi-move bi-arrow-right"></i>
                        </div>
                    </div>
                    <ul class="list-writers d-flex">

                    </ul>
                </div>
                <div class="book-zone">
                    <span class="main-topic">Books</span>
                    <div class="book-lists d-flex">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-top">
                <ul class="list-items">
                    <span class="main-title">Contact us</span>
                    <li class="item"><i class="fa-solid fa-location-dot"></i>&ensp;<a href="#">University of Transport
                            and Communication</a></li>
                    <li class="item"><i class="fa-solid fa-phone"></i>&ensp;<a href="#">(088)88888888</a></li>
                    <li class="item"><i class="fa-solid fa-envelope"></i>&ensp;<a href="#">cnttva@utc.edu.vn</a></li>
                    <li class="item"><i class="fa-solid fa-globe"></i>&ensp;<a href="#">www.ined.utc.edu.vn</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Popular writers</span>
                    <li class="item"><a href="../view/home01.html">Mark Twain</a></li>
                    <li class="item"><a href="../view/home01.html">Fyodor Tyutchev</a></li>
                    <li class="item"><a href="../view/home01.html">Fyodor Dostoevsky</a></li>
                    <li class="item"><a href="../view/home01.html">Stephen king</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Popular books</span>
                    <li class="item"><a href="#">Huckleberry Finn</a></li>
                    <li class="item"><a href="#">Revival</a></li>
                    <li class="item"><a href="#">The idiot</a></li>
                    <li class="item"><a href="#">Wolf for a spell</a></li>
                </ul>
                <ul class="list-items">
                    <span class="main-title">Newsletter</span>
                    <li class="item email">
                        <input type="email" name="" id="email-btn" placeholder="Enter your email">
                        <label for="email-btn" class="btn-forward"><i class="fa-solid fa-caret-right"></i></label>
                    </li>
                    <li class="item social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <span>© Copyright by WHY</span>
            </div>
        </div>
    </footer>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"
        integrity="sha512-AODL7idgffQeNsYdTzut09nz9AINcjhj4jHD72HcLirsidbC8tz+dof7gceOCQD8WskeuRFfJ9CsgZTHlMiOYg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/layout.js" type="module"></script>
    <script src="../js/home.js" type="module"></script>

</body>

</html>