<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/signup.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> 
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <div class="login">
    <h2 class="active"> sign in </h2>
  
    <h2 class="nonactive"> sign up </h2>
    <div class="form">
     
      
  
      <input type="text" class="text" name="username">
       <span>username</span>
       <br>

      <br>
      
      <br>
  
      <input type="password" class="text" name="password">
      <span>password</span>
      <br>

      <br>
  
      <input type="password" class="text nonactive1" name="password">
      <span class="nonactive1">repeat  password</span>
      <br>

      
      <input type="checkbox" id="checkbox-1-1" class="custom-checkbox active1" />
      <label for="checkbox-1-1 active1">Keep me Signed in</label>
      
      <p style="color: red; font-weight:600; " class="nonactive1" >hello</p>
      <button class="signin active1">
        Sign In
      </button>
      <button class="signup nonactive1">
        Sign Up
      </button>
  
  
      <hr>
  

    </div>
  <a href="../view/loading.html" class="nonactive1"></a>
  <p ></p>
  </div>
  <script src="../js/login.js"></script>
</body>
</html>